<div class="bootstrap-wrapper">

    <div class="container-fluid">
        <div class="row">
            <!-- Total grip is 12 Available  -->
            <div class="col-md-2">
           <app-sidebar-user></app-sidebar-user>
            </div>
            


            <div class="col-md-10">
                <!-- Components Will be loaded dynamically from the path that are configured in the app.routing.ts file -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>



</div>